body {
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    

}

.card {
    background-color: #C70700;
    width: 220px;
    height: 440px;
    margin: 10px;
    padding: 8px;    
    border-radius: 12px;
    
}
.tela{
    display:flex;
    justify-content: center;
    border: 8px solid black;
    border-radius: 8px;
    background-color: white;
}

.card div img{
    width: 70px;
    background-color: white;
    border-radius: 8px;
}
.types{
    width: 140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.types div{
    width: 60px;
    margin: 5px;
    background-color: darkcyan;
    text-align: center;
}

.display {
    width: 140px;
    background-color:#008000;
    
}


