body {
    background-color: #C70700;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    

}

.card {
    background-color: dimgrey;
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 4px;    
}

.card div img{
    width: 160px;
}

.types{
    width: 140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.types div{
    width: 60px;
 
    margin: 5px;
    background-color: darkcyan;
    text-align: center;
}